name: Build and Deploy Spring Boot to EC2 (CodeDeploy)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B clean package --file pom.xml

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Prepare deployment bundle
      run: |
        mkdir deploy
        cp target/*.jar deploy/app.jar
        cp appspec.yml deploy/
        cp -r scripts deploy/
        cd deploy
        zip -r ../schedemy-deploy.zip .

    - name: Upload deployment bundle to S3
      run: |
        aws s3 cp schedemy-deploy.zip s3://schedemy-codedeploy-artifacts-ahmadquraan/schedemy-deploy.zip

    - name: Trigger CodeDeploy deployment
      run: |
        aws deploy create-deployment \
          --application-name schedemy-codeDeploy-ahmadquraan \
          --deployment-group-name schedemy-deploy-gp-ahmadquraan \
          --s3-location bucket=schedemy-codedeploy-artifacts-ahmadquraan,key=schedemy-deploy.zip,bundleType=zip
